body{
    background-color: salmon;
}
#first{
    height: 400px;
    width: 400px;
    background-color: green;
    margin: 70px auto 0;

}
div{
    justify-content: space-around;
    display: flex;
    flex-direction: row;
    background-color: skyblue;
    align-items: center;
    height: 100px;
    width: 100px;
    margin: 10px;

}
#second{
    align-self: flex-end;
}
#third{
    align-self: center;
}
#forth{
    align-self: baseline;
}
#fifth{
    align-self: baseline;
}

